*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.container{
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.container div{
    padding: 5px;
}

.side-bar{
    background-color: rgb(98, 174, 237);
    display: grid;
    grid-template-rows: 0.2fr 1fr 1fr;
    color: white;
    grid-row: 1 / 3;
}


.side-bar ul{
    list-style: none;
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: 0.2fr 1fr;
}

.side-bar ul:last-child{
    margin-top: -100px;
}


.header{
    display: grid;
    grid-column: 2 / -1;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 8px 8px -4px rgb(80, 82, 83);
}

.menu{
    display: grid;
    grid-template-columns: 0.3fr 4fr 0.3fr 0.3fr 0.7fr;
}

.menu img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: -15px
}

.menu-button img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.menu .fa-magnifying-glass{
    margin-left: 25px;
    margin-top: 7px
}

input{
    background-color: rgb(235, 230, 230);
    width: 700px;
    height: 20px;
    border-radius: 1rem;
}

.menu-button{
    display: grid;
    grid-template-columns: 0.3fr 3fr 1fr
}

.menu-button .fa-user{
    font-size: 70px;
}

.greetings{
    margin-bottom: -30px
}

.greetings p{
    font-weight: bold;
    font-size: 13px
}

.greetings p:last-child{
    font-size: 18px
}

.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    margin-top: 40px;
}

.buttons button{
    border-radius: 1em;
    height: 30px;
    color: white;
    background-color: rgb(98, 174, 237);
    border: 1px;
}

.main-content{
    background-color: aliceblue;
    display: grid;
    grid-column: 2 / 3;
    grid-template-columns: 2fr 1fr
}


.cards{
    display: grid;
    grid-column: 1 / 1;
    grid-row: 2 / 4;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card{
    background-color: #FFFFFF;
    color: black;
    height: 170px;
    text-align: left;
    margin: 10px;
    border-left: 7px solid rgb(255, 183, 0);
    border-radius: 0.8em;
    box-shadow: 0px 8px 8px -4px rgb(80, 82, 83);
}


.card p{
    font-size: 15px;
    font-weight:lighter;
}


.announcements{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}


.ann-cards{
    background-color: #FFFFFF;
    color: black;
    height: 350px;
    width: 350px;
    text-align: left;
    border-radius: 0.8em;
    box-shadow: 0px 8px 8px -4px rgb(80, 82, 83);
}

.ann-cards p{
    font-size: 12px;
    font-weight:lighter;
}

.ann-cards h5{
    font-size: 13px;
}


.trending{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-column: 2 / 2;
}


.trending-cards{
    background-color: #FFFFFF;
    color: black;
    height: 260px;
    width: 250px;
    text-align: left;
    border-radius: 0.8em;
    box-shadow: 0px 8px 8px -4px rgb(80, 82, 83);
}

.trending-cards p{
    font-size: 12px;
    font-weight:lighter;
}

.trending-cards div img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.trending-cards div{
    display: grid;
    grid-template-columns: 0fr 1fr;
    gap: 10px
}

.trends ul{
    list-style: none;
    margin-left: -40px;
    margin-top: 7px;
    font-size: 10px
}

.trends li{
    width: 100px
}